@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@{
    var aboutTinaImage = Model?.Value<IPublishedContent>("aboutTinaImage")?.Url() ?? "";
}

<section class="about-tina">
    <div class="container">
        <div class="content-left">
            <img src="@aboutTinaImage" alt="Tina Fox" class="fade">
            <p>@Model.Value("aboutTinaName")</p>
        </div>

        <div class="content-right">
            <p class="quote">@Model.Value("aboutTinaQuote")</p>
            <p>@Model.Value("aboutTinaText")</p>
        </div>
    </div>
</section>